.titulo{
    text-align: center;
    color: crimson;
    background-color: aqua;
}
h2{
    text-align: center;
    background-color: aliceblue;
    width: 50%;
    margin: auto;
    border: solid crimson 2px;
    border-radius: 20px;
}